.header {
  min-width: 100%;
  margin :0;
  padding: 0;
  left: 0;
  top: 0;
  height: 109px;
  background-size: 100% 100%;
}

.footer {
  min-width: 100%;
  margin :0;
  padding: 0;
  left:0;
  bottom: 0;
  background-size: 100% 100%;
}

.Market-Value-Of-Land {
  width: 35%;
  height: 34px;
  margin-top: 56px;
  margin-bottom: 32px;
  margin-left: 18%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #4caf50;
  object-fit: contain;
}

.accordian .mat-expansion-panel-header-title
{
  margin-left: 16%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  height: 18px;
  object-fit: contain;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.64;
  letter-spacing: 0.47px;
  color: #000000;
}

.accordian .mat-expansion-panel-header
{
  height: 55px;
  opacity: 0.56;
  border-radius: 6px;
  background-color: #ebf4fd;
}

.accordian .mat-expansion-panel {
  width: 80%;
  object-fit: contain;
  margin: 0 auto;
  margin-top: 30px;
}

.accordian .mat-form-field .mat-select
{
  text-align: center;
}

.accordian .input
{
   margin-left: 20px;
}

.accordian .mat-form-field .mat-select .mat-option
{
  background-color: #7b90a3;
}

.accordian .mat-form-field + .mat-form-field {
  margin-left: 8px;
  margin-right: 8px;
  margin-top:40px;
  padding: 0 10px;
}

.accordian .mat-form-field  .mat-select{
  width : 180px;
  object-fit: contain;
}

.row{
  margin-top:20px;
  padding: 0 10px;
}

.panel-body {
padding: 0 10px;
}

.imagerow {
padding: 0 10px;
float : left;
}

.mat-divider {
display: block;
margin: 0;
border-top-width: 1px;
border-top-style: solid;
}

.Active {
width: 40px;
height: 40px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 120px;
object-fit: contain;
}

label {
width: 130px;
height: 36px;
object-fit: contain;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.29;
letter-spacing: normal;
color: #495662;
margin-left: 20px;
text-align: left;
}

.priceDisplay {
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
text-emphasis: bold;
color: blue;
float: inline-start;
}

.accordian .mat-hint {
color: black;
}

.required {
color : red;
}

.mat-radio-button {
margin-left: 15px;
}

.mandatoryInfo {
float: right;
object-fit: contain;
height: 17px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #f26577;
}

.errors {
text-align: center;
margin-top: 30px;
object-fit: contain;
}

.textClass {
height: 36px;
float : left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 0.71px;
text-align: right;
color: #7b90a3;
}

.comparison {
right: 0;
top: 0;
height: 213px;
object-fit: contain;
background-color: #f3f9fd;
}

.compareText {
padding-top: 36px;
height: 24px;
object-fit: contain;
font-family: Arial, Helvetica, sans-serif;
font-size: 23px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #0b3e6a;
}

.compTextValues{
margin-left: 10%; 
}

.button-bg {
width: 160px;
height: 36px;
float: right;
border-radius: 4px;
text-align: center;
border: solid 1px #016ad2;
}

.buttonText {
width: 90px;
height: 17px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: 1.14;
letter-spacing: 1.25px;
text-align: center;
color: #ffffff;
}

.excelDownloadImg {
width: 42px;
height: 40px;
float: right;
object-fit: contain;
}

.previewForm {
pointer-events: none;
}

.previewForm .buttonClass {
  pointer-events: all;
  }
