<div id="container" *ngIf="dataLoaded">
    <div class="header">
        <img src="assets/header.png" srcset="assets/header@2x.png 2x,assets/header@3x.png 3x" class="header"/>
    </div>
  
    <div><h1 class="Market-Value-Of-Land">MARKET VALUE OF LAND</h1></div>
  
    
  
  <form class="previewForm" novalidate>
    
    
    <mat-accordion class="accordian" multi openAll>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{title1}}
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <div class="row">
          <div class="col-md-6">
       <label>District</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.jurisdictionInfo.district.districtName}}">
        </mat-form-field> 

        
        </div>
        <div class="col-md-6">
        <label >Police Station</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.jurisdictionInfo.policeStation.psName}}">
        </mat-form-field> 
        
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <label >Mouza</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.jurisdictionInfo.mouza.mouzaName}}">
        </mat-form-field> 
        </div>
        </div>
        <mat-divider class="mat-divider"></mat-divider>
        
        <div class="row">
          <div class="col-md-6">
        <label >Plot Type</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.subJurisdiction.plotType.value}}">
        </mat-form-field>
      
      
      </div>
      <div class="col-md-6">
      <label >Plot Number</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.subJurisdiction.plotNo}}">
      </mat-form-field>  
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
      <label >Bata Number</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.subJurisdiction.bataNo?formData.subJurisdiction.bataNo:'-'}}">
      </mat-form-field>
      
      </div>
      <div class="col-md-6">
      <label >Khatian Number</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.subJurisdiction.khatianNo?formData.subJurisdiction.khatianNo:'-'}}">
      </mat-form-field>
      
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label >Area Type</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.subJurisdiction.areaType}}">
          </mat-form-field>
      </div>
      <div class="col-md-6">
      <label >Land Use</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.subJurisdiction.currLandUse}}">
      </mat-form-field>   
    </div>
      
  </div>
  
  
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <label >Base Value</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.subJurisdiction.basePrice}}">
      </mat-form-field>
    </div>
  
  </div>
  
</mat-expansion-panel>
   
  
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{title2}}
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <div class="row">
          <div class="col-md-6">
      <label >Change Land Use Type</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.landType.changeLandUseType}}">
      </mat-form-field>
      </div>
      
      <div class="col-md-6">
        <label >New Land Use Type</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.landType.newLandType.landName?formData.landType.newLandType.landName:'-'}}">
          </mat-form-field>           
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <label >Area Unit</label>
            <mat-form-field>
                <input matInput type="text" value="{{formData.landType.areaUnit}}">
              </mat-form-field>  
            </div>
  
          <div class="col-md-6">
        <label >Area Of Plot</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.landType.areaOfPlot}}">
          </mat-form-field>
      </div> 
        </div>
  
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <label >Base Value with MF</label>
            <mat-form-field>
                <input matInput type="text" value="{{formData.landType.basePriceMF}}">
              </mat-form-field>
          </div>
        
        </div>
      </mat-expansion-panel>
      
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{title3}}
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <div class="row">
          <div class="col-md-6">
        <label >Fetch Type</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.plotLocation.fetchType?formData.plotLocation.fetchType:'-'}}">
          </mat-form-field>
        </div>
      
      
        <div class="col-md-6">
      <label >Is Plot adjacent to Road</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.plotLocation.isPlotOnRoad?formData.plotLocation.isPlotOnRoad:'-'}}">
      </mat-form-field>
    </div>
      </div>
       
      <div class="row">
      <div class="col-md-6">
      <label >Distance from road</label>
      <mat-form-field>
        <input matInput type="text" value="{{formData.plotLocation.distanceFromRoad?formData.plotLocation.distanceFromRoad.parameter:'-'}}">
      </mat-form-field>
        </div>
  
        <div class="col-md-6">
       <label >Width of approach road</label>
       <mat-form-field>
        <input matInput type="text" value="{{formData.plotLocation.widthOfApproachRoad?formData.plotLocation.widthOfApproachRoad.parameter:'-'}}">
      </mat-form-field>
      </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
        <label >Distance from Market</label>
        <mat-form-field>
            <input matInput type="text" value="{{formData.plotLocation.distanceFromMarket?formData.plotLocation.distanceFromMarket.parameter:'-'}}">
          </mat-form-field>
         </div>
         </div>
  
         <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <label >Market Value</label>
            <mat-form-field>
                <input matInput type="text" value="{{formData.plotLocation.marketValue}}">
              </mat-form-field>
          </div>
        
        </div>

     
  
        <mat-divider class="mat-divider"></mat-divider>

        <div class="buttonClass">
  
        <div class="row">
          
          <div class="col-md-6">
          <p class="textClass">PDF Download</p>
          </div>
        <div class="col-md-6">
          <div class="button-bg" style="background-color:'#016ad2'">
          <button type="submit" (click)="downloadForm(formData)"  class="btn buttonText">Download</button>
            </div>
        </div>
    </div>

    </div>
   
  
        </mat-expansion-panel>
      </mat-accordion>
  
     
  
    
    </form>
    <div class="footer">
    <img src="assets/footer.png"  srcset="assets/footer@2x.png 2x,assets/footer@3x.png 3x" class= "footer"/>
    </div>
  </div>
