<div id="container">
  <div class="header">
      <img src="assets/header.png" srcset="assets/header@2x.png 2x,assets/header@3x.png 3x" class="header"/>
  </div>

  <div><h1 (click)="resetForm()"  class="Market-Value-Of-Land">MARKET VALUE OF LAND</h1></div>

  

<form [formGroup]="jurisdictionForm">
  <div class="body">
  <div *ngIf = "error" class="alert alert-danger errors">{{errorMessage}}</div>
  <div *ngIf = "success" class="alert alert-success errors">{{successMessage}}</div>
  
  <mat-accordion class="accordian" multi openAll>
    <div class="imagerow">
      <div class="col-md-3">
      <div class="Active">
      <img src="assets/jurisdiction.png" srcset="assets/jurisdiction@2x.png 2x,assets/jurisdiction@3x.png 3x" />
    </div>
    </div>
    </div>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{title1}}</mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf = "basePriceMandatoryNotFilled" class="alert alert-info errors">{{basePriceMandatoryNotFilledHint}}</div>
      
      <div class="row">
        <div class="col-md-6">
     <label>District</label>
     <mat-form-field  appearance="outline">
        <mat-select [formControl]="districtCtrl" placeholder="Select District" (selectionChange)="loadPSDetails()" [required]="true" #singleSelect>
          <mat-option>
          <ngx-mat-select-search [formControl]="districtFilterCtrl" placeholderLabel="search" noEntriesFoundLabel="No Match" [preventHomeEndKeyPropagation]="true">
            <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
          </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let district of filteredDistricts | async" [value]="district">
            {{district.districtName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      </div>
      <div class="col-md-6">
      <label >Police Station</label>
      <mat-form-field appearance="outline">
        <mat-select [formControl]="policeStationCtrl" placeholder="Select Police Station" (selectionChange)="loadMouzaDetails()" [required]="true" #singleSelect>
          <mat-option>
          <ngx-mat-select-search [formControl]="policeStationFilterCtrl" placeholderLabel="search" noEntriesFoundLabel="No Match" [preventHomeEndKeyPropagation]="true">
            <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
          </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let station of filteredPoliceStation | async" [value]="station">
            {{station.psName}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="!(districtCtrl.touched && districtCtrl.dirty)" >Select District</mat-hint>
      </mat-form-field>
      
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <label >Mouza</label>
      <mat-form-field appearance="outline">
        <mat-select [formControl]="mouzaCtrl" placeholder="Select Mouza" (selectionChange)="onChangeMouza()" #singleSelect>
          <mat-option>
          <ngx-mat-select-search [formControl]="mouzaFilterCtrl" placeholderLabel="search" noEntriesFoundLabel="No Match" *ngIf="true" [required]="true" [preventHomeEndKeyPropagation]="true">
            <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
          </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let mouza of filteredMouza | async" [value]="mouza">
            {{mouza.mouzaName}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="!(policeStationCtrl.touched && policeStationCtrl.dirty)" >Select Police Station</mat-hint>
      </mat-form-field>
      </div>
      </div>
      <mat-divider class="mat-divider"></mat-divider>
      
      <div class="row">
        <div class="col-md-6">
      <label >Plot Type</label>
      <mat-radio-group [formControl]="plotType" labelPosition="before" [required]="true">
        <mat-radio-button  [checked]="true" value="RS">RS</mat-radio-button>
        <mat-radio-button  [disabled]="true" value="LR">LR</mat-radio-button>
      </mat-radio-group>
    
    
    </div>
    <div class="col-md-6">
    <label >Plot Number</label>
    <mat-form-field appearance="outline">
      <input matInput type="number" [formControl]="plotNo" (blur)="onChangePlotNo()" [required]="true">
    </mat-form-field>    
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
    <label >Bata Number</label>
    <mat-form-field appearance="outline">
        <input matInput type="number" [formControl]="bataNo">
    </mat-form-field>
    
    </div>
    <div class="col-md-6">
    <label >Khatian Number</label>
    <mat-form-field appearance="outline">
          <input matInput type="number" [formControl]="khatianNo">
     </mat-form-field>
    
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label >Area Type</label>
      <mat-form-field appearance="outline">
        <input matInput type="text" readonly  [formControl]="areaType" [required]="true" >
      </mat-form-field>
    </div>
    <div class="col-md-6">
    <label >Current Land Use</label>
    <mat-form-field appearance="outline">
            <input matInput type="text" readonly [formControl]="currLandUse" [required]="true">
    </mat-form-field>   
  </div>
    
</div>


<div class="row" *ngIf= "showBasePrice">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <label >Base Value</label>
    <mat-form-field>
        <input matInput type="text" class="priceDisplay" [formControl]="basePriceCtrl" >
    </mat-form-field>
  </div>

</div>

  </mat-expansion-panel>
 
  <div class="imagerow">
    <div class="col-md-3">
    <div class="Active" >
    <img src="assets/landType.png" srcset="assets/landType@2x.png 2x,assets/landType@3x.png 3x" />
  </div>
  </div>
  </div>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          {{title2}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf = "basePriceMFMandatoryNotFilled" class="alert alert-info errors">{{basePriceMFMandatoryNotFilledHint}}</div>
    
      <div class="row">
        <div class="col-md-6">
    <label >Change Land Use Type</label>
      <mat-radio-group [formControl]="changeLandUseType" (change)="onChangeLandUse($event)" labelPosition="before">
        <mat-radio-button value="Yes">Yes</mat-radio-button>
        <mat-radio-button value="No">No</mat-radio-button>
      </mat-radio-group>
    </div>
    
    <div class="col-md-6">
      <label >New Land Use Type</label>
       <mat-form-field  appearance="outline">
          <mat-select [formControl]="newLandType" (selectionChange)="OnChangeNewLandUse()" placeholder="Select New Land Type" #singleSelect>
            <mat-option>
              <ngx-mat-select-search [formControl]="newLandTypeFilterCtrl" placeholderLabel="search" noEntriesFoundLabel="No Match" [preventHomeEndKeyPropagation]="true">
                <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
              </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let landType of filteredNewLandType | async" [value]="landType">
                {{landType.landName}}
              </mat-option>
          </mat-select>
          <mat-hint *ngIf="!(changeLandUseType.dirty)" >Select Change Land Use Type</mat-hint>

        </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label >Area Unit</label>
            <mat-form-field  appearance="outline">
              <mat-select [formControl]="areaUnit" (selectionChange)="onChangeAreaUnit()"  placeholder="Decimal" #singleSelect>
                <mat-option *ngFor="let unit of areaUnits" [value]="unit">
                  {{unit}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        <div class="col-md-6">
      <label >Area Of Plot</label>
      <mat-form-field appearance="outline">
            <input matInput type="number" [formControl]="areaOfPlot" (blur)="onChangeArea()">
            <mat-hint *ngIf="!(areaUnit.touched && areaUnit.dirty)" >Select Area Unit</mat-hint>
        </mat-form-field>
    </div> 
      </div>

      <div class="row" *ngIf= "showBasePriceMF">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <label >Base Value with MF</label>
          <mat-form-field>
                  <input matInput type="text" class="priceDisplay" [formControl]="basePriceMFCtrl">
          </mat-form-field>
        </div>
      
      </div>
    </mat-expansion-panel>

    <div class="imagerow">
      <div class="col-md-3">
      <div class="Active">
      <img src="assets/plotLocation.png" srcset="assets/plotLocation@2x.png 2x,assets/plotLocation@3x.png 3x" />
    </div>
    </div>
    </div>
    
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          {{title3}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf = "marketValueMandatoryNotFilled" class="alert alert-info errors">{{marketValueMandatoryNotFilledHint}}</div>

      <div *ngIf="autoComplete">
      <div class="modal-body">
          <p>Do you want to discard the autofill? </p>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="decline()">No</button>
          <button type="button" class="btn btn-primary" (click)="accept()">Yes</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
      <label >Fetch Type</label>
      <mat-radio-group [formControl]="fetchType" labelPosition="before">
        <mat-radio-button [checked]="true" value="Manually">Manually</mat-radio-button>
        <mat-radio-button [disabled]="true" value="GIS">GIS</mat-radio-button>
      </mat-radio-group>
      </div>
    
    
      <div class="col-md-6">
    <label >Is Plot adjacent to Road</label>
    <mat-radio-group [formControl]="isPlotOnRoad" (change)="onChangePlotAdjToRoad($event)"  labelPosition="before">
      <mat-radio-button value="Yes">Yes</mat-radio-button>
      <mat-radio-button value="No">No</mat-radio-button>
    </mat-radio-group>
    </div>
    </div>
     
    <div class="row">
    <div class="col-md-6">
    <label >Distance from road</label>
     <mat-form-field  appearance="outline">
        <mat-select [formControl]="distanceFromRoad" (selectionChange)= "getMarketValue()" placeholder="Meters" #singleSelect>
          <mat-option *ngFor="let distanceParam of distanceParameters" [value]="distanceParam">
            {{distanceParam.parameter}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
     <label >Width of approach road</label>
     <mat-form-field  appearance="outline">
        <mat-select [formControl]="widthOfApproachRoad"(selectionChange)= "getMarketValue()"placeholder="Feet" #singleSelect>
          <mat-option *ngFor="let widthParam of widthParameters" [value]="widthParam">
            {{widthParam.parameter}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      <label >Distance from Market</label>
      <mat-form-field  appearance="outline">
         <mat-select [formControl]="distanceFromMarket" (selectionChange)= "getMarketValue()" placeholder="Meters" #singleSelect>
           <mat-option *ngFor="let marketDist of marketParameters" [value]="marketDist">
             {{marketDist.parameter}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       </div>
       </div>

       <div class="row" *ngIf= "showMarketValue">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <label >Market Value</label>
          <mat-form-field>
                  <input matInput type="text" class="priceDisplay" [formControl]="marketValueCtrl">
          </mat-form-field>
        </div>
      
      </div>

      <mat-divider class="mat-divider"></mat-divider>

      <div class="row">
        
        <div class="col-md-6">
        <p class="textClass">Preview and Download this form</p>
        </div>
      <div class="col-md-6">
        <div class="button-bg" [ngStyle]="marketValueCtrl.value?{'background-color':'#016ad2'} : {'background-color': ''}">
            <button type="button" [disabled]="!marketValueCtrl.value" [ngStyle]="marketValueCtrl.value?{'color':'#ffffff'} : {'color': '#7b90a3'}" (click)="onClickPreview(jurisdictionForm)" class="btn buttonText">PREVIEW</button>
        </div>
      </div>
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="row">
    
    <div class="col-md-6">
    <p class="textClass">Save Current Transaction </p>
    </div>
  <div class="col-md-6">
    <div class="button-bg"  [ngStyle]="marketValueCtrl.value?{'background-color':'#016ad2'} : {'background-color': ''}">
        <button type="button" [disabled]="!marketValueCtrl.value" [ngStyle]="marketValueCtrl.value?{'color':'#ffffff'} : {'color': '#7b90a3'}" (click)="onClickSaveTransaction(jurisdictionForm)" class="btn buttonText">SAVE</button>
    </div>
  </div>
</div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="row">
    
    <div class="col-md-6">
    <p class="textClass">Download Previous Transactions </p>
    </div>
  <div class="col-md-6">
    <div>
      <img src="assets/excelDownload.png" (click)="onClickDownloadPrevTransaction()"  srcset="assets/excelDownload@2x.png 2x,assets/excelDownload@3x.png 3x"
      class="excelDownloadImg"> 
      </div>
  </div>
</div>

      </mat-expansion-panel>
    </mat-accordion>

    <div class="comparison">

      <div *ngIf = "prevError" class="alert alert-danger errors">{{prevErrorMessage}}</div>

      <p class="compareText">
         Compare value with past registered value
      </p>
      <div class="row"></div>
      <div class="compTextValues">
      <div class="row">
        <div class="col-md-5">
      <mat-form-field>
        <mat-label>MV per Decimal(New)</mat-label>
        <input matInput type="text" readonly>{{marketValuePerDecimal}}
      </mat-form-field>
      </div>
      <div class="col-md-3" >
        <img src="assets/compare.png" srcset="assets/compare@2x.png 2x,assets/compare@3x.png 3x"
              (click)="loadPrevMarketValue()">
      </div>
      <div class="col-md-3">
      <mat-form-field>
        <mat-label >MV per Decimal(Registered)</mat-label>
        <input matInput type="text" readonly>{{prevMarketVal}}
      </mat-form-field>
     </div>
    </div>
    </div>
  </div>
   
</div>
  
  </form>
  <div class="footer">
  <img src="assets/footer.png"  srcset="assets/footer@2x.png 2x,assets/footer@3x.png 3x" class= "footer"/>
  </div>
</div>